h1 {
  height: 50px;
  width: 500px;
  text-align: center;
  text-transform: capitalize;
  color: rgba(235, 94, 40, 1);
}

p {
  height: 50px;
  width: 500px;
  text-align: justify;
  color: rgba(235, 94, 40, 1);
}

.boutons {
    display: flex;
  background-color: rgba(235, 94, 40, 1);
  border-radius: 20px 20px 20px 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.coordonnees {
    width: 200px;height: 1400px;
    background-color:rgba(64, 61, 57, 1);
    color: aliceblue;
}

section{

    background-color: cornsilk;
}