<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styleformulaire.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">

</head>

<body id="top">


    <header>
        <h1 class="center ombre">Conditions Générales de Vente</h1>
        <nav class="center">
            <a href="#Condition1"> Condition 1 </a>
            <a href="#Condition2"> Condition 2 </a>
            <a href="#Condition3"> Condition 3 </a>
            <a href="#Condition4"> Condition 4 </a>
            <a href="#Condition5"> Condition 5 </a>
        </nav>
    </header>


    <section class="center">

        <article class="artcolor">
            <h4 id="Condition1"> Condition 1 </h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>

        </article>

        <article class="artcolor">
            <h4 id="Condition2"> Condition 2 </h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
        </article>

        <article class="artcolor">
            <h4 id="Condition3">Condition 3</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>

        </article>

<div class="container artcolor"> grande boite 
    <div class="maBox1"> 1 </div>
    <div class="maBox2"> 2 </div>
    <div class="maBox3"> 3 </div>
</div>


        <article class="artcolor">
            <h4 id="Condition4"> Condition 4 </h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>

        </article>

        <article id="Condition5">
            <h4>Condition 5</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt neque repellendus libero ipsam
                debitis voluptate officiis earum harum qui ut veniam molestiae sed repudiandae, facilis optio soluta
                provident return. </p>

        </article>

    </section>


    <footer>
        <nav>
            <a href="#top"> ^ </a>
        </nav>
    </footer>

</body>

</html>